.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  /* WHEN ELEMENT CREATED, REMOVE SIZE FROM NAV */
  /* AND APPLY TO THE ELEMENT ISELF */
  font-size: 1.3em;
  color: #e06378dd;
}
