.navLink {
  color: #6b7280;
  transition: 0.125s;
}

.navLink:hover {
  opacity: 0.8;
}

@media (max-width: 797px) {
  .text {
    display: none;
  }
}

@media (min-width: 798px) {
  .icon {
    display: none;
  }
}
