.footer {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  /* background-color: rgb(3, 45, 70); */
}

.small {
  font-size: 1.3em;
  letter-spacing: 0.3px;
  color: rgb(89, 28, 6);
}
